.img{
  display: block;
  margin:130px auto 95px;
  width:160px;
  height:160px;
}
.name{
  text-align: center;
  line-height:50px;
  font-size:41px;
}
.info{
  font-size:28px;
  text-align: center;
  margin-top:16px;
  color:#666666;
}
.btnStyle{
  width:90%;
  margin:20px auto;
  color:white;
  font-size:32px;
  background: #2396FF;
}
