.submit{
  position:fixed;
  height:100px;
  width:100%;
  bottom: 0;
  left:0;
  line-height: 100px;
  background: #25A2F9;
  color:white;
  border: none;
  outline: none;
  border-radius: 0;
}
.isSeeSelf{
  position: fixed;
  bottom:120px;
  right:20px;
  width:250px;
  font-size: 32px;
}
.isAnonymous{
  position: fixed;
  bottom:120px;
  right:260px;
  width:320px;
  font-size: 32px;
}
