page{
  background: #EFEEF4;
}
.discover-page{
  .discover-divider-0{
    height: 90px;
  }
  .discover-divider-1{
    height: 20px;
  }
}
.discover-search{
  background: transparent;
}
.discover-recommend{
  width: 92%;
  height: 200px;
  margin: 10px 4%;
  background: white;
  border-radius: 10px;
  line-height: 60px;
}
.discover-recommend-text{
  width: 92%;
  height: 200px;
  margin: 0px 4%;
  font-size: 36px;
  font-weight: bold;
}
.discover-recommend-swiper{
  height: 120px;
  margin-top: 20px;
  .discover-no-recommend{
    color: #4F678B;
    font-size: 32px;
    width: 100%;
    text-align: center;
  }
  .discover-recommend-item{
    width: 100px;
    height: 100px;
    padding-right: 20px;
    .discover-recommend-item-image{
      width: 100px;
      height: 100px;
      box-shadow: 0 6rpx 15rpx -2rpx rgba(0, 0, 0, 0.3);
      margin-right: 20px;
      border-radius: 150px;
    }
  }
}
.discover-habit{
  width: 92%;
  margin: 30px 4%;
  background: white;
  border-radius: 10px;
  .discover-habit-text{
    width: 90%;
    justify-content: space-between;
    padding: 10px 5%;
    font-weight: bold;
  }
  .discover-habit-text-left{
    font-size: 36px;
  }
  .discover-habit-text-right{
    font-size: 24px;
    color: #25A2F9;
    line-height: 50px;
  }
  .discover-habit-divider{
    height: 6px;
  }
  .discover-habit-list{
    flex-direction: column;
  }
  .discover-habit-item{
    width: 89%;
    height: 100px;
    margin-left: 6%;
    margin-right: 5%;
    justify-content: space-between;
    .discover-habit-item-image{
      width: 75px;
      height: 75px;
      border-radius: 150px;
    }
    .discover-habit-item-divider{
      width: 30px;
    }
    .discover-habit-item-text{
      flex-direction: column;
      justify-content: space-around;
      .discover-habit-item-text-top{
        font-size: 26px;
        font-weight: bold;
      }
      .discover-habit-item-text-divider{
        height: 10px;
      }
      .discover-habit-item-text-bottom{
        font-size: 20px;
        color: #AAAAAA;
      }
    }
    .discover-habit-item-button{
      width: 100px;
      height: 50px;
      font-size: 24px;
      line-height: 45px;
      margin-top: 10px;
      border-radius: 150px;
      background: #F7F7F7;
      color: #1A80D2;
    }
  }
  .discover-habit--no-item{
    color: #4F678B;
    font-weight: bold;
    text-align: center;
    height: 90px;
    padding-top: 10px;
  }
}
.at-search-bar{
  background: transparent;
}
.at-search-bar__action{
  background: #25A2F9;
}
