page{
  height: 100%;
  background: #EFEEF4;
}
.list{
  width:95%;
  height:120px;
  background: white;
  position:relative;
  overflow: hidden;
  margin-bottom:15px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  margin-left: 2.5%;
  .photo{
    display: block;
    height:90px;
    width:90px;
    border-radius: 50%;
    margin:10px 0 10px 30px;
  }
  .name{
    position:absolute;
    line-height: 120px;
    font-size:29px;
    color:#666666;
    top:0;
    left:150px;
  }
  .cancelAttention{
    position:absolute;
    line-height: 120px;
    top:0;
    right:20px;
    color:#45D17F;
    font-size:28px;
  }
}
